.counter {
  font-size: 1em;
  padding: 0.3125em 0.625em;
  border-radius: 0.3125em;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 1.5em;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 10.625em;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 2.125em;
    height: 1.75em;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg) scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 6.6875em;
    height: 1.625em;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg) scale(0.8);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 1.5625em;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 2em 1.25em 1.5em;
    gap: 1.125em;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 2em;
    @media (max-width: 1024px) {
      padding: 1.5em 1.25em;
    }
  }

  .icon {
    margin-bottom: 1em;
    width: 1.375em;
    height: 1.375em;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5em;
  margin: 2em 0 0;

  .logo {
    height: 1.125em;
  }

  a {
    color: var(--text-h);
    font-size: 1em;
    border-radius: 0.375em;
    background: var(--social-bg);
    display: flex;
    padding: 0.375em 0.75em;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 1.125em;
      width: 1.125em;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 1.25em;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 0.5em);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 5.5em;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 3em;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -0.28125em;
    border: 0.3125em solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}
